{% extends "page.html" %}

{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("auth/css/override.css") }}" type="text/css" />
<style type="text/css">
body #ipython-main-app {
  text-align: inherit;
}

#ipython-main-app form {
  margin-top: 1em;
}

#ipython-main-app .alert {
  margin-top: 2em;
}
</style>
{% endblock %}

{% block header_buttons %}
<!--<div class="navbar-brand pull-right">mostly-tmpnb</div>-->
{% endblock %}

{% block site %}

<div id="ipython-main-app" class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <!-- Tabs for login and register -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{login_state}}"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
      </ul>

      <div class="tab-content">
        <!-- Login pane -->
        <div role="tabpanel" class="tab-pane {{login_state}}" id="login">
          <form action="{{base_url}}login?next={{next}}" method="post">
            <div class="form-group">
              <label for="login_username">Girder Token</label>
              <input type="password" class="form-control" id="login_username" name="girder_token" placeholder="Enter your Girder Token" required>
            </div>
            <div class="form-group">
              <label for="login_password">Collection ID</label>
              <input type="password" class="form-control" id="login_password" name="collection_id" placeholder="Enter your Collection ID" required>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div>

      <!-- Flash messages from server -->
      {% if message %}
        {% for key in message %}
          <div class="alert alert-danger message-{{key}}">{{message[key]}}</div>
        {% endfor %}
      {% endif %}

    </div> <!-- End column -->
  </div> <!-- End row -->
{% endblock %}
